.footerTitle{
    font-size: 12px;
    font-weight:bolder;
    font-style:italic;
    color: #1A2A34;
    margin-bottom: 13px;
}

.info{
    font-size: 10px;
    color: #AFAFAF;
    line-height: 16px;
}